@charset "UTF-8";

    body {
        background-color: rgb(50, 50, 50);
    }
    header {
        font: bolder 1.4em sans-serif;
        color: #fff;
        text-align: center;
    }
    section > div {
        background-color: #fff;
        width: 500px;
        height: 350px;
        text-align: center;
        margin: auto;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 5px 5px 8px #0000003a;
    }

    footer > p {
        font-style: italic;
        color: #fff;
        text-align: center;
    }